<!DOCTYPE html>
<html lang="en-us">

<head>

    <title>The Button</title>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="Jerred Shepherd">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#08D9D6"/>
    <meta name="msapplication-navbutton-color" content="#08D9D6"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#08D9D6"/>

    <link rel="icon" href="img/favicon.ico">
    <link rel="icon" sizes="192x192" href="img/highres.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.2/grids-responsive-min.css">
    <link rel="stylesheet" href="css/base.css">

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-resource@1.2.0/dist/vue-resource.min.js"></script>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-49467961-4', 'auto');
        ga('send', 'pageview');
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8402769089231334",
            enable_page_level_ads: true
        });
    </script>

</head>

<body>
<div id="app">
    <div class="content">
        <app-container></app-container>
    </div>
    <sj-footer></sj-footer>
</div>

<script src="js/dist/app.js"></script>
</body>

</html>